<h2>Users Admin</h2>

<a class="btn btn-warning mb-3" (click)="onNewUserAdd()">Add User</a>
<div class="row">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let user of users">
                    <td> {{ user.id }}</td>
                    <td> {{ user.name }}</td>
                    <td> 
                        <button type="button" (click)="setUser(user.id)" class="btn btn-primary">View User</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <div class="col-6">
        <app-user-detail [user]="selectedUser" *ngIf="action === 'view'"></app-user-detail>
        <app-user-edit [user]="selectedUser" *ngIf="action === 'edit'"></app-user-edit>
        <app-user-add *ngIf="action === 'add'"></app-user-add>
    </div>
</div>