<form>
      <div class="col-md-12 mb-6">
        <label for="name">Name</label>
        <input type="text" class="form-control is-invalid" id="name" value="Mark" required>
        <div class="invalid-feedback error-msg">
          invalid message here
        </div>
      </div>

      <div class="col-md-12 mb-6">
        <label for="password">Password</label>
        <input type="password" class="form-control is-valid" id="password" value="Mark" required>
        <div class="valid-feedback error-msg">
          Looks good!
        </div>
      </div>

      <div class="col-md-12 mb-6">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control is-valid" id="confirmPassword" value="Mark" required>
        <div class="valid-feedback error-msg">
          Looks good!
        </div>
      </div>
      
      <div class="col-md-12 mb-6 text-right">
        <button class="btn btn-primary" style="margin-top: 20px;" type="button">Save or Update</button>
      </div>
    
  </form>